<h1>Brickell</h1>

<title> HappenStance | Brickell</title>
<head>
<script type="text/javascript">
var count = 0;
function countClicks() {
 count = count + 1;
    document.getElementById("p2").innerHTML = count;
}
</script>

</head>
<body>
  <section id="like-button">
<p>
<a id="heart" href="javascript:countClicks();"><img src="http://i1174.photobucket.com/albums/r615/arianakv/409001-200_zpsl4iralyh.png" alt="heart"></a>

<div id="p2">0<div></p>
</section>
</body>
