<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Miami's Downtown</title>
<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="author" content="Sam Norton">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css">
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <h1>Miami's Downtown | Brickell Area</h1>


  <div class="row">
  <div class="col-md-3">
  <div class="card">
  <img class="card-img-top" src="/dt.jpg" alt="Cuban Food">
  <div class="card-block">
  <h4 class="card-title">Architecture</h4>
  Some quick example text to build on the card title and make up the bulk of the card's content.
  <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
  </div>
  </div>
  </div>
  <div class="col-md-3">
  <div class="card card-inverse card-primary text-center">
  <img class="card-img-top" src="/margs.jpg" alt="Cuban Coffee">
  <div class="card-block">
  <h4 class="card-title">Happy Hours</h4>
  Some quick example text to build on the card title and make up the bulk of the card's content.
  <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
  </div>
  </div>
  </div>
  <div class="col-md-3">
  <div class="card card-inverse card-success text-center">
  <img class="card-img-top" src="/pool.jpg" alt="Dancing">
  <div class="card-block">
  <h4 class="card-title">Exclusive Spots</h4>
  Some quick example text to build on the card title and make up the bulk of the card's content.
  <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
  </div>
  </div>
  </div>
  <div class="col-md-3">
  <div class="card card-inverse card-info text-center">
  <img class="card-img-top" src="spot.jpg" alt="Art">
  <div class="card-block">
  <h4 class="card-title">Hole in the Wall</h4>
  Some quick example text to build on the card title and make up the bulk of the card's content.
  <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
  </div>
  </div>
  </div>
  </div>


  <!-- JavaScripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/tether.min.js"></script>
  </body>
  </html>
