<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Miami's Downtown</title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="author" content="Sam Norton">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <section class="brickell parallax parallax-1">
    <div class="container">
      <h1>Miami's Downtown | Brickell</h1>
    </div>
  </section>


  <section class="brickell content">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/rsz_shopping.jpg" alt="Cuban Food">
            <div id="bootstrap-brickell-overrides">
              <div class="card-block">
                <h4 class="card-title">Shopping</h4>
                Get ready to max out your credit cards and lie to your husband about how my that little Gucci dress was because Brickell has one of the HOTTEST shopping scenes in the city. Dont forget to check out where two broke girls like to window shop.
                <br><br><ul>
                  <li><a href="http://brickellcitycentre.com/">Brickell City Center</a></li>
                  <li><a href="http://www.saksfifthavenue.com/Entry.jsp">Saks Fifth Avenue</a></li>
                  <li><a href="http://www.luxymiami.com/">Luxy Miami Boutique</a></li>
                  <li><a href="https://www.yelp.com/biz/atikshop-miami">Atikshop</a></li>
                </ul><br>
                <p>Get the most bang for your buck with other shopping experiences around town.</p>
                <a href="https://www.yelp.com/search?cflt=shopping&find_loc=Brickell%2C+Miami%2C+FL" class="btn btn-primary">See More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-inverse card-primary text-center">
            <img class="card-img-top" src="/margs.jpg" alt="Cuban Coffee">
            <div id="bootstrap-brickell-overrides">
              <div class="card-block">
                <h4 class="card-title">Happy Hours</h4>
                If there is one thing you should know about me by now, it's that I love a stiff drink after a day of doing nothing but waiting until I can have a stiff drink. Make sure to check out some of our favorite places in Brickell and make sure to tell them Tara and Ariana sent you, you might get a free drink! (or ordered to pay our outstanding tabs!)
                <br><br><ul>
                  <li><a href="http://www.blackbirdordinary.com/">Blackbird Ordinary</a></li>
                  <li><a href="http://americansocialbar.com/brickell/">American Social</a></li>
                  <li><a href="http://www.batchmiami.com/">Batch Gastropub</a></li>
                  <li><a href="http://www.babyjanemiami.com/">Baby Jane</a></li>
                </ul><br>
                <p>Don't was to take our recommendations? Fine, but check out what other local spots are popular.</p>
                <a href="https://www.yelp.com/search?find_desc=Happy+Hour+Brickell&find_loc=Brickell%2C+Miami%2C+FL" class="btn btn-primary">See More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-inverse card-success text-center">
            <img class="card-img-top" src="/pool.jpg" alt="Dancing">
            <div id="bootstrap-brickell-overrides">
              <div class="card-block">
                <h4 class="card-title">Exclusive Spots</h4>
                Now don't worry, just because you roam around with the common folk, doesn't mean that you can reap the benifits of an exclusive hot spot. We gotchu! But don't tell them we sent you...
                <br><br><ul>
                  <li><a href="http://www.mandarinoriental.com/miami/fine-dining/mo-bar-and-lounge/">Mo Bar & Lounge</a></li>
                  <li><a href="http://www.wmiamihotel.com/miami-nightclub">Whisper Cocktail Lounge</a></li>
                  <li><a href="http://eltucanmiami.com/">El Tucan</a></li>
                  <li><a href="http://www.liltlounge.com/">Lilt Lounge</a></li>
                </ul><br>
                <p>Need more exclusivity? Check out other places people love and make sure to get on the list.</p>
                <a href="https://www.yelp.com/search?cflt=nightlife&find_loc=Brickell%2C+Miami%2C+FL" class="btn btn-primary">See More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-inverse card-info text-center">
            <img class="card-img-top" src="spot.jpg" alt="Art">
            <div id="bootstrap-brickell-overrides">
              <div class="card-block">
                <h4 class="card-title">Hole in the Wall</h4>
                Nothing make me feel more like a local than telling people about all my favorite hole in the places and assert my hipster superiority over others. Speaking of which, I know some great little holl in the wall places that you will LIVE for!
                <Br><br><ul>
                  <li><a href="http://www.suviche.com/miami-brickell-sushi-ceviche-peruvian-restaurant">SuViche</a></li>
                  <li><a href="http://www.perricones.com/">Perricones</a></li>
                  <li><a href="http://www.piola.it/local-miami-brickell-fl/cities/display">Piola</a></li>
                  <li><a href="http://doloreslolita.com/">Dolores Lolita</a></li>
                </ul><br>
                <p>Want more? Get more.</p>
                <a href="https://www.yelp.com/search?find_desc=famous+hole+in+the+wall+restaurants&start=0&l=g:-80.18530368804932,25.77072369449293,-80.1981782913208,25.75912901955287" class="btn btn-primary">See More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- JavaScripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/tether.min.js"></script>
</body>
</html>
