<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Littlle Havana</title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="author" content="Sam Norton">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<!-- #body here -->
<body>
  <section class="havana parallax parallax-1">
    <div class="container">
      <h1> Explore Little Havana</h1>
    </div>
  </section>


  <section class="havana content">
    <div class="content">


      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/eatlike.jpg" alt="Cuban Food">
            <div id="boostrap-havana-overrides">
            <div class="card-block">
              <h4 class="card-title">Eat Like a Local</h4>
              <p>Try these gems in Little Havana for authentic Cuban food
                <br>
                <ul>
              <li><a href="http://www.doceprovisions.com/">Doce Provisions</a></li>
              <li><a href="https://ballandchainmiami.com/">Ball & Chain</a></li>
              <li><a href="http://www.littlehavanarestaurant.com/">Little Havana Restaurant</a></p></li>
            </ul>
            <p>Need more? Click here for other foodie spots</p>
            <a href="https://www.yelp.com/search?find_desc=Restaurants&find_loc=Little+Havana,+Miami,+FL" class="btn btn-primary">MORE</a>
          </div>
          </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-inverse card-primary text-center">
            <img class="card-img-top" src="/cortadito.jpg" alt="Cuban Coffee">
            <div id="boostrap-havana-overrides">
            <div class="card-block">
              <h4 class="card-title">Best Cafecitos</h4>
              If there's something Cubans are known for, it's their delicious cortadito, or "cuban coffee"</br>
              <br>
              <ul>
              <li><a href="https://www.eternitycoffeeroasters.com/">Eternity Coffee Roasters</a></li>
              <li><a href="http://www.versaillesrestaurant.com/">Versailles</a></li>
              <li><a href="http://www.littlehavanarestaurant.com/">Little Havana Restaurant</a></p></li>
            </ul>
            <p>Click here for more options on where to get your coffee fix in Little Havana!</p>
              <a href="https://www.yelp.com/search?find_desc=coffee&find_loc=Little+Havana%2C+Miami%2C+FL&ns=1" class="btn btn-primary">MORE</a>
            </div>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card card-inverse card-success text-center">
            <img class="card-img-top" src="/salsa.jpg" alt="Dancing">
            <div id="boostrap-havana-overrides">
            <div class="card-block">
              <h4 class="card-title">Salsa Dancing</h4>
              Best spots to practice your salsa and merengue moves!
              <br>
              <br>
              <ul>
              <li><a href="http://www.sidebarmiami.com/">Sidebar</a></li>
              <li><a href="http://www.miami.com/miami-restaurants/bar-nancy-is-little-havanas-newest-bar-157664/">Bar Nancy</a></li>
              <li><a href="https://ballandchainmiami.com/">Ball & Chain</a></li>
            </ul>
            <p>Click here for more inspiration on where to go dancing!</p>
              <a href="https://www.yelp.com/search?find_desc=Salsa+Dancing&find_loc=Little+Havana,+Miami,+FL" class="btn btn-primary">MORE</a>
            </div>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card card-inverse card-info text-center">
            <img class="card-img-top" src="outdoors.jpg" alt="Art">
              <div id="boostrap-havana-overrides">
              <div class="card-block">
              <h4 class="card-title">Outdoors</h4>
              See what the neighborhood has to offer and join in on the fun!
              <br>
              <br>
              <ul>
              <li><a href="http://www.miamiandbeaches.com/sport/maximo-gomez-park-domino-park/115777">Domino Park</a></li>
              <li><a href="http://carnavalmiami.com/event-view/calle-ocho/">Calle Ocho</a></li>
            </ul>
            <p> See what else there is to do in this historic neighborhood in Miami.<br><br>
              <a href="http://www.miamiandbeaches.com/places-to-see/little-havana/calle-ocho-domino-park" class="btn btn-primary">MORE</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- JavaScripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/tether.min.js"></script>
</body>
</html>
