<%= image_tag @pictures.image.url(:medium) %>
<%= @pictures.caption %>


<div class="text-center edit-links">
  <%= link_to "Cancel", root_path %>
  |
  <%= link_to "Edit Post", edit_picture_path(@pictures) %>
</div>
