
<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Wynwood</title>
<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="author" content="Sam Norton">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css">
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

 <section class="wynwood parallax parallax-1">
      <div class="container">
        <h1>Wynwood</h1>
      </div>
    </section>

  <!-- <section class="wynwood content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/resized4.jpg" alt="Brunch">
              <div class="card-block">
                <h4 class="card-title">Best Brunch Spots</h4>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-inverse card-primary text-center">
              <img class="card-img-top" src="/resized3.jpg" alt="Coffee">
              <div class="card-block">
                <h4 class="card-title">Best Coffee</h4>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-inverse card-success text-center">
              <img class="card-img-top" src="/beer.jpg" alt="Brews">
              <div class="card-block">
                <h4 class="card-title">Happy Hours & Brews</h4>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-inverse card-info text-center">
              <img class="card-img-top" src="resized2.jpg" alt="Art">
              <div class="card-block">
                <h4 class="card-title">Art</h4>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    <section class="beach content">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/resized4.jpg" alt="Beach">
              <div class="card-block">
                <h4 class="card-title">Bext Brunch Spots</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-inverse card-primary text-center">
              <img class="card-img-top" src="/resized3.jpg" alt="nightlife">
              <div class="card-block">
                <h4 class="card-title">Best Coffee</h4>
                Best coffee in Wynwood
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-inverse card-success text-center">
              <img class="card-img-top" src="/beer.jpg" alt="Spa">
              <div class="card-block">
                <h4 class="card-title">Happy Hours & Brews</h4>
                If you know where to look, you can find an abundance of locales and activities that will add calm and relaxation to your life, even in South Beach.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-inverse card-info text-center">
              <img class="card-img-top" src="/resized2.jpg" alt="Foodie">
              <div class="card-block">
                <h4 class="card-title">Art</h4>
                Taste delicious and authentic cuisine around the one of the city's most historic neighborhoods.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



   <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tether.min.js"></script>
    </body>
    </html>
