
<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wynwood</title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="author" content="Sam Norton">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

  <section class="wynwood parallax parallax-1">
    <div class="container">
      <h1>Get to know Wynwood</h1>
    </div>
  </section>

  <section class="beach content">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/resized4.jpg" alt="Beach">
            <div id="bootstrap-wyn-overrides">
              <div class="card-block">
                <h4 class="card-title">Best Brunch Spots</h4>
                If you're looking for brunch, you've come to the right place! We've explored many of Wynwoods classic and less known spots and here is the list of our top favorites: </br>
                <br><ul>
                  <li><a href="http://kyumiami.com/">KYU</a></li>
                  <li><a href="http://www.themorgansrestaurant.com/">Morgans</a></li>
                  <li><a href="http://beakerandgray.com/">Beker & Gray</a></li>
                  <li><a href="http://www.miamcafe.com/">MIAM Cafe</a></li>
                </ul><br>
                <p>You can also check out what other brunch spots people love in Wynwood.</p>
                <!-- You can also view all the top rated spots by others, <a href="https://www.yelp.com/search?cflt=breakfast_brunch&find_loc=Wynwood%2C+Miami%2C+FL">HERE</a> -->
                <div>  <a href="https://www.yelp.com/search?cflt=breakfast_brunch&find_loc=Wynwood%2C+Miami%2C+FL" class="btn btn-primary">See More</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-inverse card-primary text-center">
            <img class="card-img-top" src="/resized3.jpg" alt="nightlife">
            <div id="bootstrap-wyn-overrides">
            <div class="card-block">
              <h4 class="card-title">Best Coffee</h4>
              Wynwood offers a variety of options for coffee-lover, basic Instagram famous girls who love to take pictures of their scones and coffee snobs from the west coast (looking at you, Seattle!). Here is the list of our current favey-faves</br>
              <br><ul>
                <li><a href="http://www.miamcafe.com/">MIAM</a></li>
                <li><a href="http://www.panthercoffee.com/">Panther</a></li>
                <li><a href="http://wynwood-cafe.com/">Wynwood Cafe</a></li>
                <li><a href="https://saltydonut.com/">The Salty Donut</a></li>
              </ul><br>
              <p>Want more option? You can check out what places other people love.</p>
              <a href="https://www.yelp.com/search?cflt=coffee&find_loc=Wynwood%2C+Miami%2C+FL" class="btn btn-primary">See More</a>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-inverse card-success text-center">
            <img class="card-img-top" src="/beer.jpg" alt="Spa">
            <div id="bootstrap-wyn-overrides">
            <div class="card-block">
              <h4 class="card-title">Happy Hours & Brews</h4>
              Grab a brewski with your broski and Brew Install at one of our favorite happy hour gems, or at least from one of the places that we can remember after a successful happy hour...</br>
              <br><ul>
                <li><a href="http://woodtavern.com/">Wood Tavern</a></li>
                <li><a href="http://www.gramps.com/">Gramps</a></li>
                <li><a href="http://butchershopmiami.com/tbs/">The Butcher Shop Ber garden & Grill</a></li>
                <li><a href="http://www.rhousewynwood.com/">R House Wynwood</a></li>
              </ul><br>
              <p>Need some more brew inspiration? Check out where others like to drown their sorrows!</p>
              <a href="https://www.yelp.com/search?find_desc=Best+Happy+Hour&find_loc=wynwood+Miami,+FL" class="btn btn-primary">See More</a>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-inverse card-info text-center">
            <img class="card-img-top" src="/resized2.jpg" alt="Foodie">
            <div class="card-block">
              <h4 class="card-title">Art</h4>
              Wynwood has become an artistic hub filled with world-famous talent. </br>
              <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- JavaScripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/tether.min.js"></script>
</body>
</html>
