/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 @import "bootstrap-sprockets";
  .row{margin-left: 10em;}
  @import "bootstrap";

 .picture-wrapper{
    text-align: center;
    color: #465d69 ;
  }
  // #bootstrap-overrides .row{
  //   margin-left: 25em;
  //   padding-left: 1em;
  // }

 #bootstrap-overrides .navbar-nav > .active > a:hover {
      color: rgb(92, 159, 184);
  }

 #bootstrap-overrides .dropdown-menu > li > a:hover {
   color: rgb(92, 159, 184);
 }

 #bootstrap-overrides .navbar {
   margin-bottom: 0px;
 }

 #bootstrap-overrides .picture {
   border-color: #3fb5b5 ;
   margin-left: -5em;
 }

 #bootstrap-new-overrides .form-wrapper {
   border-color: rgba(255, 255, 255, 0.82);
   border-radius: 24px;
   width: 50%;
   background-color: rgba(255, 255, 255, 0.82);
 }

 #bootstrap-new-overrides {
   background-image: url("/polaroid.jpeg");
   padding-top: 13em;
   padding-bottom: 13em;
 }

 #bootstrap-new-overrides input.btn.btn-default.btn-success {
   background-color: rgb(92, 159, 184);
   border-color: rgba(76, 174, 76, 0);
 }
