// Place all the styles related to the SouthBeach controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
    font-family:'Lato', sans-serif;
    font-size:1em;
    color:#777;
    font-weight:300;
    line-height:1.7;
    overflow-x:hidden;
}

h1 {
    color:#333;
    line-height:1.4;
    font-weight:700;
}

.mx-width {
    max-width:960px;
    margin:0 auto;
}

a,a:hover {
    color:#563d7c;
    text-decoration:none;
}



.card-img-top{
  width:100%;
  height:auto;
}

header {
    padding-bottom:50px;
}
.jumbotron-fluid {
    padding:0;
}

//
// .display-2 {
//     font-family:'Lato';
//     font-size:60px;
//     line-height:1;
//     font-weight:300;
//     color:#fff
// }

// .learn {
//     font-family:'Lato';
//     font-size:27px;
//     line-height:1.4;
//     font-weight:300;
//     color:#fff;
// }
